{% extends "base.html" %}

{% block lab %}Лабораторная работа 2. Группы{% endblock %}

{% block main %}
    <h1>500 - Внутренняя ошибка сервера</h1>
    <p>Что-то пошло не так на сервере. Можете со спокойной душой праздновать новый год и никогда сюда не возвращаться!</p>
    <p><a href="/menu">Перейти на главную страницу</a></p>

    <img src="https://img.freepik.com/premium-photo/decorated-christmas-tree-for-new-year-isolated-on-white-background_36043-1694.jpg" class="error-image" alt="Новогодняя елка">
</body>
</html>
{% endblock %}
