body {
    margin: 0;
    padding: 0;
    font-family: 'Stem';
    letter-spacing: 0.8px;
    font-size: 16px;
    line-height: 26px;
    color: #333333;
    padding-bottom: 72px;
}

p {
    max-width: 800px;
    margin-top: 12px;
}

h1 {
    font-size: 42px;
    line-height: 56px;
}

h2 {
    font-size: 24px;
    line-height: 32px;
}

header {
    padding: 24px;
    background-color: rgb(199, 229, 212);
}

main {
    padding-left: 24px;
    padding-right: 24px;

}

footer {
    padding: 24px;
    background-color: rgb(199, 229, 212);
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}
a {
    outline: none;
    text-decoration: none;
    color: #0f7afc;
    border-bottom: 1px solid;
    border-bottom-color: rgba(15, 122, 252, 0.2);
}
a:hover {
    text-decoration: none;
    color: #cf0000;
    border-bottom-color: rgba(208, 64, 0, 0.2);
}
a:visited {
    text-decoration: none;
    color: #800080;
    border-bottom-color: rgba(128, 0, 128, 0.2);
}

.btn {
    border-radius: 12px;
    color: white;
    background-color: rgb(17, 187, 91);
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 12px;
    padding-left: 12px;
    border: 0;
}