{% extends "base.html" %}

{% block lab %}Лабораторная работа 2. Группы{% endblock %}

{% block main %}
    <h1>Группы</h1>
    <img src="../static/b1.jpg" alt="b1">
    <p>Красивая сцена с яркими прожекторами</p>
    <img src="../static/b2.jpg" alt="b2">
    <p>Крутая черно-белая фотография с какой-то группой</p>
    <img src="../static/b3.png" alt="b3">
    <p>Группа выступает на фоне пальм и вечернего неба</p>
    <img src="../static/b4.jpg" alt="b4">
    <p>Фотография группы на белом фоне</p>
    <img src="../static/b5.jpg" alt="b5">
    <p>Прекрасный логотип группы Metallica</p>
{% endblock %}