<form method="post"> 
    <h1>Страница регистрации</h1>
    <div>
        <input type="text", name="username" placeholder="username">
        <label for="username">Логин</label>
        <span class="error" style="color: red;">{{errors}}</span>
    </div>

    <div>
        <input type="text", name="password" placeholder="password">
        <label for="password">Пароль</label>
        <span class="error" style="color: red;">{{errors}}</span>
    </div>

    <button type="submit">Зарегистрироваться</button>
</form>